@model Product

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img class="col-sm-6 col-lg-6 col-md-6" src="@Model.ImageUrl" alt="" />
        <div class="caption">
            <h4>
                <a asp-controller="Product" asp-action="Details" asp-route-productId="@Model.ProductId">@Model.Name</a>
            </h4>
        </div>
        <div class="text-right">
            <h4 class="">@Model.Price.ToString("c")</h4>
            <p class="button ">
                <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-productId="@Model.ProductId">
                    Add to cart
                </a>
            </p>
        </div>
    </div>
</div>